<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekuy</title>
</head>
<body>
  <a href="#content" class="skip-link">Menuju ke konten Utama</a>
  <!-- Navbar -->
  <nav-bar></nav-bar>
  <!-- Akhir Navbar -->

  <!-- Hero -->
  <hero-img></hero-img>
  <!-- Akhir Hero -->

  <!-- Main Content -->
  <content-layout></content-layout>
  <!-- Akhir Main Content -->

  <!-- Footer -->
  <footer-layout></footer-layout>
  <!-- Akhir Footer -->
</body>
</html>
