@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  font-family: "roboto", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content{
  padding: 0.5em 3em;
}

.restaurant{
  text-align: center;
}

.restaurant__label{
  font-size: 20px;
  padding: 35px;
}

.list__restaurant{
  display: grid;
  gap: 15px;
}

.card{
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.card a{
  text-decoration: none;
  color: black;
}

.card__img{
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr 0.3fr;
}

.card__thumbnail{
  width: 100%;
  height: 200px;
  margin-top: -100px;
  object-fit: contain;
}

.card__img .card__title{
  font-size: 20px;
  margin-top: -50px;
  color: white;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
}

.card__img .card__rating{
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0.4);

  grid-row-start:2 ;
  grid-row-end:1 ;
}

.card__content{
  padding: 20px;
}

.card__content__title{
  font-size: 20px;
  font-weight: bold;
}

.card__content__desc{
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
  line-height: 20px;
/* truncate */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* Like */

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer{
  margin-top: 30px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #adadad;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}