@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  font-family: "roboto", serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/** Navbar */
.nav{
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.5em 3em;
}

.nav a{
  text-decoration: none;
  color: black;
}
.nav__title{
  font-family: "Playfair Display", serif;
  font-size: 35px;
}

.nav__menu{
  margin-right: 0;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
  width: 44px;
  height: 44px;
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.nav__menu:hover{
  background-color: #dadada;
  cursor: pointer;
}

.nav__list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav__item{
  box-sizing: border-box;
  display: inline-flex;
  line-height: 24px;
  text-align: center;
}

.nav__item a{
  text-decoration: none;
  color: black;
  padding: 12px;
}

.nav__item a:hover{
  text-decoration: underline;
}

/** Hero */

.hero{
  display: flex;
  align-items: center;
  min-height: 410px;
  width: 100%;
  text-align: center;
  background-image: url(../public/images/heros/hero-image_2.jpg);
  background-position: center;
}

.hero::after{
  content: "";
  display: block;
  width: 100%;
  height: 67%;
  position: absolute;
  background-image: linear-gradient(
    to top,
    rgba(0,0,0,1),
    rgba(0,0,0,0));
}

.hero__inner{
  margin: 0 auto;
  max-width: 100%;
  z-index: 1;
}

.hero__tagline{
  font-size: 30px;
  font-weight: 1000;
  color: white;
  margin: 0 25px;
}

.hero__button{
  margin-top: 25px;
}

.hero__button a{
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 5px;
}

.hero__button a:hover{
  background-color: black;
  color: white;
}

.content{
  padding: 0.5em 3em;
}

.restaurant{
  text-align: center;
}

.restaurant__label{
  font-size: 20px;
  padding: 15px;
}

.list__restaurant{
  display: grid;
  gap: 15px;
}

.card{
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.card a{
  text-decoration: none;
  color: black;
}

.card__img{
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr 0.3fr;
}

.card__thumbnail{
  width: 100%;
  height: 200px;
  margin-top: -100px;
  object-fit: contain;
}

.card__img .card__title{
  font-size: 20px;
  margin-top: -50px;
  color: white;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
}

.card__img .card__rating{
  font-size: 20px;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  padding: 10px;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0.4);

  grid-row-start:2 ;
  grid-row-end:1 ;
}

.card__content{
  padding: 20px;
}

.card__content__title{
  font-size: 20px;
  font-weight: bold;
}

.card__content__desc{
  font-size: 18px;
  margin-top: 10px;
  text-align: justify;
  line-height: 20px;
/* truncate */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

footer{
  margin-top: 30px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #adadad;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}